@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__handle {
  opacity: 0 !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* === Textos dentro del SVG de React Flow === */
/* === Texto de los nodos (para mejor legibilidad) === */
.react-flow__node text,
.react-flow-organigrama text {
  font-family: 'Dosis', sans-serif !important;
  font-weight: 700 !important; /* más grueso */
  font-size: 1rem !important; /* aumentá a gusto: 0.95rem, 1rem, 1.1rem */
  fill: #111 !important; /* más contraste */
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
}
